include header
// ================ Start Banner Area =================
section.banner_area
  .banner_inner.d-flex.align-items-center
    .container
      .banner_content.text-center
        h2 About Us
        .page_link
          a(href='index.html') Home
          a(href='about.html') About
// ================ End Banner Area =================
// ================ Start About Us Area =================
section.about_area.section_gap
  .container
    .row.justify-content-start.align-items-center
      .col-lg-5
        .about_img
          img(src='../images/about-us.png' alt='')
      .offset-lg-1.col-lg-5
        .main_title.text-left
          p.top_text
            | About me 
            span
          h2
            | Creative Software Developer 
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;And Designer
          p
            | I have successfully  completed  the  course  work  in  the  areas  of  Database  Management  Systems, Programming languages
            | like C, C++, .Net, C#, HTML,SDLC, CSS, Java, JavaScript, and Linux, Software  Engineering  and  Big  Data  Analytics,  Linux,
            |Server Administration with Mathematics. Through these courses, I gained basic knowledge of building and maintenance of,
            |computer hardware components, database, design database schema with the use of appropriate datatypes with SQL  concepts,
            |data  analysis  methods,  data  classification  techniques  along  with  networking concepts
          a.primary_btn(href='#')
            span Download CV
// ================ End About Us Area =================
// ================ Start Testimonial Area =================
section.testimonial_area.pb-xl-300px
  .container
    .row
      .col-lg-12
        | &grave;
        .main_title
          p.top_text
            | Our Tesitmonial 
            span
          h2
            | Honourable Client Says 
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;About Me
    .owl-carousel.owl-theme.testimonial-slider
      .testimonial-item
        .row
          .col-lg-6
            .testi-img.mb-4.mb-lg-0
              img(src='../images/testimonials/testimonial1.png' alt='')
          .col-lg-6
            .testi-right
              h4 Stephen Smith
              p
                small Project Manager, Apple
              p
                | Waters can not replenish hath fly and be to brought isn&apos;t very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can&apos;t replenish hath fly and be to brought isn&apos;t very days behold
              ul.star_rating.mt-4
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li.disable
                  span
                    i.fas.fa-star
      .testimonial-item
        .row
          .col-lg-6
            .testi-img.mb-4.mb-lg-0
              img(src='../images/testimonials/testimonial1.png' alt='')
          .col-lg-6
            .testi-right
              h4 Roser Henrique
              p
                small Project Manager, Apple
              p
                | Waters can not replenish hath fly and be to brought isn&apos;t very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can&apos;t replenish hath fly and be to brought isn&apos;t very days behold
              ul.star_rating.mt-3
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li.disable
                  span
                    i.fas.fa-star
      .testimonial-item
        .row
          .col-lg-6
            .testi-img.mb-4.mb-lg-0
              img(src='../images/testimonials/testimonial1.png' alt='')
          .col-lg-6
            .testi-right

              h4 Roser Henrique
              p
                small Project Manager, Apple
              p
                | Waters can not replenish hath fly and be to brought isn&apos;t very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can&apos;t replenish hath fly and be to brought isn&apos;t very days behold
              ul.star_rating.mt-3
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li.disable
                  span
                    i.fas.fa-star
// ================ End Testimonial Area =================
// ================ Start Brands Area =================
section.brands-area.section_gap_bottom
  .container
    .row.justify-content-center
      .col-lg-12
        .owl-carousel.brand-carousel
          // single-brand
          .single-brand-item.d-table
            .d-table-cell
              img(src='../images/brands/logo1.png' alt='')
          // single-brand
          .single-brand-item.d-table
            .d-table-cell
              img(src='../images/brands/logo2.png' alt='')
          // single-brand
          .single-brand-item.d-table
            .d-table-cell
              img(src='../images/brands/logo3.png' alt='')
          // single-brand
          .single-brand-item.d-table
            .d-table-cell
              img(src='../images/brands/logo4.png' alt='')
          // single-brand
          .single-brand-item.d-table
            .d-table-cell
              img(src='../images/brands/logo5.png' alt='')
          // single-brand
          .single-brand-item.d-table
            .d-table-cell
              img(src='../images/brands/logo3.png' alt='')
// ================ End Brands Area =================
// ================Footer Area =================
include footer