footer.footer_area
  .container
    .row.justify-content-center
      .col-lg-12
        .footer_top.flex-column
          .footer_logo
            a(href='#')
              img(src='../images/logo2.png' alt='')
            .d-lg-block.d-none
              nav.navbar.navbar-expand-lg.navbar-light.justify-content-center
                .collapse.navbar-collapse.offset
                  ul.nav.navbar-nav.menu_nav.mx-auto
                    li.nav-item
                      a.nav-link.text-white(href='/') Home
                    li.nav-item
                      a.nav-link.text-white(href='/about') About
                    li.nav-item
                      a.nav-link.text-white(href='/portfolio') Portfolio
                    li.nav-item
                      a.nav-link.text-white(href='/page') Page
                    li.nav-item
                      a.nav-link.text-white(href='/contact') Contact 
          .footer_social.mt-lg-0.mt-4
            a(href='#')
              i.fab.fa-facebook-f
            a(href='#')
              i.fab.fa-twitter
            a(href='#')
              i.fab.fa-skype
            a(href='#')
              i.fab.fa-pinterest-p
    .row.footer_bottom.justify-content-center
      p.col-lg-8.col-sm-12.footer-text
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | Copyright &copy;
        script.
          document.write(new Date().getFullYear());
        |  All rights reserved | This template is made with 
        i.fa.fa-heart(aria-hidden='true')
        |  by 
        a(href='https://colorlib.com' target='_blank') Colorlib
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// ================End Footer Area =================
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='../javascripts/jquery-3.2.1.min.js')
script(src='../javascripts/popper.js')
script(src='../javascripts/bootstrap.min.js')
script(src='../javascripts/stellar.js')
script(src='../vendors/isotope/imagesloaded.pkgd.min.js')
script(src='../vendors/isotope/isotope-min.js')
script(src='../vendors/owl-carousel/owl.carousel.min.js')
script(src='../javascripts/jquery.ajaxchimp.min.js')
script(src='../javascripts/mail-script.js')
// gmaps Js
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE')
script(src='../javascripts/gmaps.min.js')
script(src='../javascripts/theme.js')
