doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='icon' href='../images/favicon.png' type='image/png')
  title Breed Portfolio - Home
  // Bootstrap CSS
  link(rel='stylesheet' href='../stylesheets/bootstrap.css')
  link(rel='stylesheet' href='../vendors/linericon/style.css')
  link(rel='stylesheet' href='../stylesheets/themify-icons.css')
  link(rel='stylesheet' href='../vendors/owl-carousel/owl.theme.default.min.css')
  link(rel='stylesheet' href='../vendors/fontawesome/css/all.min.css')
  link(rel='stylesheet' href='../vendors/owl-carousel/owl.carousel.min.css')
  link(rel='stylesheet' href='../vendors/nice-select/css/nice-select.css')
  // main css
  link(rel='stylesheet' href='../stylesheets/style.css')
// ================ Start Header Area =================
header.header_area
  .main_menu
    nav.navbar.navbar-expand-lg.navbar-light
      .container
        // Brand and toggle get grouped for better mobile display
        a.navbar-brand.logo_h(href='index.html')
          img(src='../images/logo.png' alt='')
        a.navbar-brand.logo_inner_page(href='index.html')
          img(src='../images/logo2.png' alt='')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        // Collect the nav links, forms, and other content for toggling
        #navbarSupportedContent.collapse.navbar-collapse.offset
           ul.nav.navbar-nav.menu_nav
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/about') About
            li.nav-item
              a.nav-link(href='/work') Portfolio
            li.nav-item
              a.nav-link(href='/page') pages
            li.nav-item
              a.nav-link(href='/contact') Contact
// ================ End Header Area =================
