include header
// ================ Start Banner Area =================
section.banner_area
  .banner_inner.d-flex.align-items-center
    .container
      .banner_content.text-center
        h2 Our Services
        .page_link
          a(href='/') Home
          a(href='/page') Pages
// ================ End Banner Area =================
// ================ Start Features Area =================
section.services_area.pb-0.section-margin
  .container
    .row
      .col-lg-12
        .main_title
          p.top_text
            | Our Service 
            span
          h2
            | What Service We 
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Offer For You
    .row
      .col-lg-4.col-md-6.mb-4.mb-lg-0
        .service_item
          img(src='../images/services/s1.png' alt='')
          h4 Web Development
          p
            | Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
            | brought fish forth
          a.primary_btn2.mt-35(href='#') Learn More
      .col-lg-4.col-md-6.mb-4.mb-lg-0
        .service_item
          img(src='../images/services/s2.png' alt='')
          h4 UX/UI Design
          p
            | Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
            | brought fish forth
          a.primary_btn2.mt-35(href='#') Learn More
      .col-lg-4.col-md-6.mb-4.mb-lg-0
        .service_item
          img(src='../images/services/s3.png' alt='')
          h4 WP Developing
          p
            | Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
            | brought fish forth
          a.primary_btn2.mt-35(href='#') Learn More
// ================ End Features Area =================
// ================ Start Testimonial Area =================
section.testimonial_area.pb-xl-300px
  .container
    .row
      .col-lg-12
        .main_title
          p.top_text
            | Our Tesitmonial 
            span
          h2
            | Honourable Client Says 
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;About Me
    .owl-carousel.owl-theme.testimonial-slider
      .testimonial-item
        .row
          .col-lg-6
            .testi-img.mb-4.mb-lg-0
              img(src='../images/testimonials/testimonial1.png' alt='')
          .col-lg-6
            .testi-right
              h4 Roser Henrique
              p
                small Project Manager, Apple
              p
                | Waters can not replenish hath fly and be to brought isn&apos;t very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can&apos;t replenish hath fly and be to brought isn&apos;t very days behold
              ul.star_rating.mt-4
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li.disable
                  span
                    i.fas.fa-star
      .testimonial-item
        .row
          .col-lg-6
            .testi-img.mb-4.mb-lg-0
              img(src='../images/testimonials/testimonial1.png' alt='')
          .col-lg-6
            .testi-right
              h4 Roser Henrique
              p
                small Project Manager, Apple
              p
                | Waters can not replenish hath fly and be to brought isn&apos;t very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can&apos;t replenish hath fly and be to brought isn&apos;t very days behold
              ul.star_rating.mt-3
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li.disable
                  span
                    i.fas.fa-star
      .testimonial-item
        .row
          .col-lg-6
            .testi-img.mb-4.mb-lg-0
              img(src='../images/testimonials/testimonial1.png' alt='')
          .col-lg-6
            .testi-right
              h4 Roser Henrique
              p
                small Project Manager, Apple
              p
                | Waters can not replenish hath fly and be to brought isn&apos;t very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can&apos;t replenish hath fly and be to brought isn&apos;t very days behold
              ul.star_rating.mt-3
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li
                  span
                    i.fas.fa-star
                li.disable
                  span
                    i.fas.fa-star
// ================ End Testimonial Area =================
// ================ Start Brands Area =================
section.brands-area.section_gap_bottom
  .container
    .row.justify-content-center
      .col-lg-12
        .owl-carousel.brand-carousel
          // single-brand
          .single-brand-item.d-table
            .d-table-cell
              img(src='../images/brands/logo1.png' alt='')
          // single-brand
          .single-brand-item.d-table
            .d-table-cell
              img(src='../images/brands/logo2.png' alt='')
          // single-brand
          .single-brand-item.d-table
            .d-table-cell
              img(src='../images/brands/logo3.png' alt='')
          // single-brand
          .single-brand-item.d-table
            .d-table-cell
              img(src='../images/brands/logo4.png' alt='')
          // single-brand
          .single-brand-item.d-table
            .d-table-cell
              img(src='../images/brands/logo5.png' alt='')
          // single-brand
          .single-brand-item.d-table
            .d-table-cell
              img(src='../images/brands/logo3.png' alt='')
// ================ End Brands Area =================
// ================Footer Area =================
include footer